:root {
  --purple: #391F59;
  --lavender: #CDBEE0;
  --black: #242d49;
  --gray: rgba(36, 45, 73, 0.65);
  --profileShadow: 0px 4px 17px 2px rgba(0, 0, 0, 0.25);
  --hrColor: #CDBEE0;
  --cardColor: rgba(255, 255, 255, 0.64);
  --inputColor: rgba(40, 52, 62, 0.07);
}

.button{
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  border:none;
  border-radius: 0.5rem;
  background: var(--buttonBg);
  transition:all 100ms ease-out;
  font-family: 'Ubuntu', sans-serif;
}

.container
{
  height: 100%;
}