.RightSide {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* .navIcons {
    display: flex;
    margin-left: 1rem;
    margin-right: 1rem;
    justify-content: space-between;
    gap: 3.7rem;
} */

.home,
.bell,
.setting,
.message {
    color: black;
    cursor: pointer;
}

.home:hover,
.bell:hover,
.setting:hover,
.message:hover {
    color: rgba(93, 48, 149, 1);
    filter: brightness(1.2);
}

.home:focus,
.bell:focus,
.setting:focus,
.message:focus {
    color: red;
    filter: brightness(1.2);
}

.r-button {
    padding: 11px;
    font-size: 15px;
    font-weight: 500;
    border: none;
    color: white;
    background: #CDBEE0;
    border-radius: 15px;
    cursor: pointer;
    transition: all, 240ms ease-in-out;
    background: var(--purple);
    align-self: center;
    text-shadow: 0 0 2px #999;
    font-family: 'Ubuntu', sans-serif;
    width: 100%;

}

.r-button:hover {
    background: rgba(93, 48, 149, 1);
    filter: brightness(1.2);
}