/* import Heart from '../../img/like.png' */


.Post{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;
    gap: 1rem;
    width: 95%;
    align-self: center;
    margin: auto;
}

.Post>img{
    width: 600px;
    object-fit: cover;
    border-radius: 0.5rem;
    align-self: center;
}

.Post>img:hover{
    cursor:pointer;
}

.postReact{
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
}

.postReact>img:hover{
    background-image: url('../../img/like.png');
    cursor: pointer;
}
.postInfo{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.postInfo>img{
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    object-fit: cover;
}

.content{
    margin-top: 0.5rem;
}