.Profile{
    position: relative;
    display: grid;
    grid-template-columns: 28rem auto;
    gap: 2rem;
    margin-right: 9rem;
}

.Profile-center{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}