.SwitchCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    padding-left: 1rem;
}

.SwitchCard>h3{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--purple);
}

.Spotify{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.AppleMusic{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Spotify>img{
    height: 50px;
}

.AppleMusic>img{
    width: 100px;
}

.Spotify>button{
    justify-self: right;
}

.sp-button{
    align-items: center;
    justify-content: center;
    color: var(--purple);
    border: 2px solid;
    border-color: var(--purple);
    border-radius: 0.4rem;
    background: white;
    transition: all 100ms ease-out;
    height: 30px;
  }

  .am-button{
    align-items: center;
    justify-content: center;
    color: var(--purple);
    border: 2px solid;
    border-color: var(--purple);
    border-radius: 0.4rem;
    background: white;
    transition: all 100ms ease-out;
    height: 30px;
  }