/*infoForm
infoButton
infoInput*/

.infoForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.infoInput{
    border: none;
    outline: none;
    background-color: var(--inputColor);
    border-radius: 8px;
    padding: 20px;
    flex:1;
}

.infoForm>div{
    display: flex;
    gap: 1rem;
    height: 2rem;
    width: 90%;
}

.infoButton{
    width: 6rem;
    height: 2rem;
    align-self: flex-end;
    padding: 11px;
    font-size: 15px;
    font-weight: 500;
    border: none;
    color: white;
    background: #CDBEE0;
    border-radius: 15px;
    cursor: pointer;
    transition: all, 240ms ease-in-out;
    background: var(--purple);
    text-shadow: 0 0 2px #999;
    font-family: 'Ubuntu', sans-serif;
}

.infoButton:hover {
    background: rgba(93, 48, 149, 1);
    filter: brightness(1.2);
}