.InfoCard {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1rem;
    border-radius: 1.3rem;
    width: 95%;
    align-self: center;
}
.InfoCard{
    gap:15px;
}

.InfoHead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.InfoHead>div:hover {
    cursor: pointer;
}

.logout-button {
    width: 75%;
    padding: 11px;
    font-size: 15px;
    color: white;
    font-weight: 500;
    border: none;
    background: #CDBEE0;
    border-radius: 15px;
    cursor: pointer;
    transition: all, 240ms ease-in-out;
    background: var(--purple);
    align-self: center;
    text-shadow: 0 0 2px #999;
}

.logout-button:hover {
    background: rgba(93, 48, 149, 1);
    filter: brightness(1.2);
}